.project_container {
    width: 100%;
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    align-items: center;
}

@media (max-width: 420px) {
    .title_container {
        flex-direction: column;
        gap: 1.5rem;
    }
}