.footer {
    background-color: #222;
    color: #FFF;
    padding: 1.5em;
    text-align: center;
}

.social_list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.social_list li {
    margin: 0 1em;
}
.social_list li:hover {
    color: #FFBB33;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright {
    margin-top: 1em;
}
.copyright span {
    font-weight: bold;
    color: #FFBB33;
}
.copyright span:last-child {
    color: crimson;
}

@media (max-width: 769px) {
    .footer {
        padding: 1em;
    }
}